html 
{
    font-family: Lato, Arial, sans-serif, -apple-system;
}
h1{
    font-size:100px;
    padding-left: 300px;
    color:blue;
}   
.text_main{
    vertical-align: 20px;font-size: 20px;color: rgb(13, 76, 211);
    text-decoration: none;
    
}   
.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
}

.grid-2-col {
    padding: 1rem;
}
.shadow-block {
    box-shadow:0 1px 4px #e3ebfc,0 24px 48px #e6ebf566
}